@model string

<div class="jumbotron">
    @if (User?.Identity?.IsAuthenticated ?? false) {
        <h1>Welcome, @User.Identity.Name</h1>

                <p>Click on the search link at the top to see what has changed! If this is your first time authorizing my app I won't have anything until tomorrow. :(</p>
    }

    else {
        <h1>Welcome, anonymous</h1>
        <p>Click the Authorize button in the top right in order to login and/or authorize my app to do dirty things with your spotify playlists!</p>
    }
</div>