@{
    ViewBag.Title = "Where?";

}

<h2>@ViewBag.Title</h2>
<h3>Here stupid! Why would you ask such a question?</h3>
<ul class="pager">
    <li class="previous">@Html.ActionLink("« Who", "Who", "Home")</li>
    <li class="next">@Html.ActionLink("When »", "When", "Home")</li>
</ul>