@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Mvc.Client.Models.Changes
@model SearchModel
@{
   
    ViewBag.Title = "Search";
}
<h1>@ViewBag.Title</h1>
<form action="Results" method="get">
    @Html.EditorFor(model => model.Start)
    @Html.EditorFor(model => model.End)
    <button class="btn btn-lg btn-success" type="submit">Search</button>
</form>