@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-primary warning">I am perfect so this error is your fault</h1>
<h2 class="text-primary">An error has occurred because you did something wrong!</h2>
<h3></h3>